appdirs==1.4.4
argcomplete==2.0.0
asgiref==3.5.0
Django==4.0.1
django-crispy-forms==1.13.0
escposprinter==6.2
Pillow==9.0.0
psycopg2==2.9.3
pyserial==3.5
python-escpos==2.2.0
pyusb==1.2.1
PyYAML==6.0
qrcode==7.3.1
six==1.16.0
sqlparse==0.4.2
